$height-wide-small: 20px;
$width-wide: 90px;
$width-small: 55px;
$side-tall: 56px;

.plugin-social {
    clear: both;
    display: inline-block;
    margin: 2px;
    overflow: visible;

    &.layout-wide, &.layout-small {
        .plugin-social-button {
            float: left;
        }
    }

    &.layout-wide {

        a.tumblr-share-link {
            background-image: url('http://platform.tumblr.com/v1/share_1.png');
        }

        .plugin-social-buttons {

            .plugin-social-button {

                iframe#twitter-widget-0 {
                    width: $width-wide !important;
                }

                // &.pinterest {
                //     width: $width-wide;
                // }

            }

        }

    }

    &.layout-small {
        a.tumblr-share-link {
            background-image: url('http://platform.tumblr.com/v1/share_2.png');
        }
    }

    &.layout-tall {
        float: center;

        .plugin-social-buttons {

            .plugin-social-button {

                // &.pinterest {
                //     height: 56px;
                //     margin-top: 3px;
                //     margin-bottom: 3px;
                //     position: relative;
                //     top: 31px;
                // }

                a.tumblr-share-link {
                    background-image: url('https://secure.assets.tumblr.com/images/logo_page/img_logo_bluebg_2x.png');
                    background-size: $side-tall;
                    height: $side-tall;
                    width: $side-tall;
                }

            }

        }
        
    }

    .plugin-social-buttons {
        list-style-type: none;

        .plugin-social-button { 
            display: block;
            padding: 3px;


            a.tumblr-share-link {
                background-color: transparent;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: left top;
                background-clip: border-box;
                background-origin: padding-box;
                background-size: auto auto;
                display: inline-block;
                height:20px;
                overflow:hidden;
                text-indent:-9999px;
                width:81px;
            }
        }

    }

}
