<li class="plugin-social-button">
    <div class="fb-share-button" data-href="{data_url}" data-layout="{if layout=="tall"}box_count{/if}{if layout=="wide"}button_count{/if}{if layout=="small"}button{/if}"></div>
    <script type="text/javascript">
    	// Load FB JS SDK
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
    </script>
</li>