<li class="plugin-social-button">
	<div class="fb-like" data-href="{data_url}" data-send="false" data-layout="{if layout=="tall"}box_count{/if}{if layout=="wide"}button_count{/if}{if layout=="small"}button{/if}" data-show-faces="true"></div>
	<script type="text/javascript">
		// Load FB JS SDK
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
				  							
		window.fbAsyncInit = function() {
			FB.Event.subscribe('edge.create', function(targetUrl) {
			    _gaq.push(['_trackSocial', 'Facebook', 'like', targetUrl]);
			});
			FB.Event.subscribe('edge.remove', function(targetUrl) {
				_gaq.push(['_trackSocial', 'Facebook', 'unlike', targetUrl]);
			});
			FB.Event.subscribe('message.send', function(targetUrl) {
				_gaq.push(['_trackSocial', 'Facebook', 'send', targetUrl]);
			});
		  };
	</script>
</li>