<li class="plugin-social-button">

	<div class="g-plus"
		data-action="share"
		data-size="tall"
		{if layout=="small"}data-annotation="none"{if:elseif layout=="wide"}data-annotation="bubble"{if:elseif layout=="tall"}data-annotation="vertical-bubble"{/if}
		{if layout=="wide"}data-expandTo="right"{/if}
	></div>

	<!-- Place this render call where appropriate -->
	<script type="text/javascript">
		(function() {
			var po = document.createElement('script');
			po.type = 'text/javascript';
			po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(po, s);
		})();
	</script>

</li>