<li class="plugin-social-button">

	<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
	{if layout=="wide"}
		<script type="IN/Share"
			data-url="{data_url}"
			data-counter="right"
			data-showzero="true"
			data-onsuccess="LinkedInShare"
		></script>
	{if:elseif layout=="tall"}
		<script type="IN/Share"
			data-url="{data_url}"
			data-counter="top"
			data-showzero="true"
			data-onsuccess="LinkedInShare"
		></script>
	{if:elseif layout=="small"}
		<script type="IN/Share"
			data-url="{data_url}"
			data-onsuccess="LinkedInShare"
		></script>
	{/if}

	<script type="text/javascript" src="/js/ga_social_tracking.js"></script>

	<script type="text/javascript">
		function LinkedInShare() {
			_gaq.push(['_trackSocial', 'LinkedIn', 'share', window.location.href]);
		}
	</script>
	
</li>