<li class="plugin-social-button pinterest">

	<span id="pin">
		<a href="//gb.pinterest.com/pin/create/button/?url={data_url}"
			class="pin-it-button"
			data-pin-do="buttonPin"
			{if layout=="tall"}
				data-pin-config="above"
				data-pin-height="28"
			{if:elseif layout=="wide"}
				data-pin-config="beside"
			{if:elseif layout=="small"}
				data-pin-config="none"
			{/if}
		>Pin It</a>
	</span>
								
	<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
	<script type="text/javascript">

		// $('#pin').click(function() {
		// 	_gaq.push(['_trackSocial', 'Pinterest', 'pin', $(location).attr('href')]);
		// });
	</script>		

</li>
