<li class="plugin-social-button">

	{if layout=="small"}
		<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
			<img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" />
		</a>
	{if:elseif layout=="wide"}
		<script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script>
	{if:elseif layout=="tall"}
		<script type="text/javascript" src="//www.redditstatic.com/button/button2.js"></script>
	{/if}

</li>