<li class="plugin-social-button">

	<su:badge
		{if layout=="wide"}
			layout="1"
		{if:elseif layout=="small"}
			layout="4"
		{if:elseif layout=="tall"}
			layout="5"
		{/if}
	></su:badge>
	<script type="text/javascript">
		(function() {
			var li = document.createElement('script');
			li.type = 'text/javascript';
			li.async = true;
			li.src = 'https://platform.stumbleupon.com/1/widgets.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(li, s);
		})();
	</script>

</li>