<li class="plugin-social-button">
	<a href="http://www.tumblr.com/share/link?url={data_url_encoded}"class="tumblr-share-link"title="Share on Tumblr">Share on Tumblr</a>
	<script src="http://platform.tumblr.com/v1/share.js"></script>
</li>