<li class="plugin-social-button">

	<a href="https://twitter.com/share"
		class="twitter-share-button"
		data-url="{data_url}"
		{if layout=="small"}
			data-count="none"
		{if:elseif layout=="wide"}
			data-count="horizontal"
		{if:elseif layout=="tall"}
			data-count="vertical"
		{/if}
	>Tweet</a>
	<script type="text/javascript">
		window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
		
		function trackTwitter(intent_event) {
			if (intent_event) {
				var opt_pagePath;
				if (intent_event.target && intent_event.target.nodeName == 'IFRAME') {
					opt_target = extractParamFromUri(intent_event.target.src, 'url');
				}
				_gaq.push(['_trackSocial', 'Twitter', 'tweet', opt_pagePath]);
			}
		}

		twttr.ready(function (twttr) {
			twttr.events.bind('tweet', trackTwitter);
		});

		function extractParamFromUri(uri, paramName) {
			if (!uri) {
				return;
			}
			var regex = new RegExp('[\\?&#]' + paramName + '=([^&#]*)');
			var params = regex.exec(uri);
			if (params != null) {
				return unescape(params[1]);
			}
			return;
		}
	</script>

</li>